<body class="bodies">
  <div class="containerss" id="printICS" style="display: none">
    <div class="headerss">Inventory Custodian Slip (ICS)</div>
    <div class="sub-header">
      <div class="haha">
        <strong>Entity Name: <span id="printEntityName"></span></strong>
        <strong>Fund Cluster: <span id="printFundCluster"></span></strong>
      </div>
      <div>
        <strong>ICS No: <span id="printICSNo"></span></strong>
      </div>
    </div>
    <table class="tabol">
      <thead>
        <tr class="t-ar">
          <th class="t-h">Qty.</th>
          <th class="t-h">Unit</th>
          <th class="t-h">Description</th>
          <th class="t-h">Property No.</th>
          <th class="t-h">Date Acquired</th>
          <th class="t-h">Unit Value</th>
          <th class="t-h">Total Amount</th>
        </tr>
      </thead>
      <tbody class="tbady">
        <tr class="t-ar">
          <td class="t-d"><span id="printQty"></span></td>
          <td class="t-d"><span id="printUnit"></span></td>
          <td class="t-d"><span id="printDescription"></span></td>
          <td class="t-d"><span id="printPropertyNo"></span></td>
          <td class="t-d"><span id="printDateAcquired"></span></td>
          <td class="t-d"><span id="printUnitValue"></span></td>
          <td class="t-d"><span id="printunitvalue"></span></td>
        </tr>
        <!-- Additional rows as needed -->
      </tbody>
    </table>
    <div class="remarks-section">
      <div><strong>Remarks:</strong> New</div>
    </div>
    <div class="footer">
      <div class="Dating">
        <p>
          <strong>Data Acquired: <span id="printDateAcquired"></span></strong>
        </p>
        <p>BURs: <span id="printBurs"></span></p>
        <p>PO: <span id="printPo"></span></p>
        <p>Code: <span id="printCode"></span></p>
        <p>Description: <span id="printdescription"></span></p>
        <p>IAR #: <span id="printIAR"></span></p>
        <p>Supplier: <span id="printSupplier"></span></p>
        <p>Location: <span id="printLocation"></span></p>
      </div>

      <div class="reminder">
        <p><strong>Reminder:</strong></p>
        <p>
          If the item/s received is/are not utilized beneficial to work and
          already unserviceable, you are REQUIRED to RETURN it to OSPU.
        </p>
      </div>
      <div class="reminders">
        "Bringing government properties to private homes and for personal use is
        strictly prohibited. Due care and safekeeping should be applied to this
        stated property."
      </div>
    </div>
    <div class="signature-section">
      <div class="signature-box">
        <div class="bax"><strong>Received by:</strong></div>
        <span>Signature Over Printed Name of End User</span>
        <span class="gaps"
          ><u id="printICSAccountable">____________________</u></span
        >
        <span>Position / Office</span>
        <span class="gaps"><u id="printDate">____________________</u></span>
        <span>Date</span>
      </div>
      <div class="signature-box">
        <div class="sig">
          <strong>Issued by:</strong>
        </div>
        <span><u>JEFFREY M. MENESER, M.A.M.</u></span>
        <span
          >Signature Over Printed Name of Supply and/or Property Custodian</span
        >
        <span class="gaps"><u>____________________</u></span>
        <span>Position/Office</span>
        <span class="gaps"><u>____________________</u></span>
        <span>Date</span>
      </div>
    </div>
    <div class="small-note">Appendix 59</div>
  </div>
  <div id="printPhotos" style="display: none">
    <div style="margin-top: 30px"></div>
    <!-- <h2 style="text-align: center" ></h2> -->
    <div id="photoContainer" style="text-align: center"></div>
  </div>
</body>

<style>
  .bodies {
    font-family: Arial, sans-serif;
  }

  .containerss {
    width: 210mm;
    margin: 0 auto;
    border: 1px solid #000;
    padding: 10px;
    box-sizing: border-box;
  }

  .headerss {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  .sub-header {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .sub-header .haha {
    display: flex;
    flex-direction: column;
  }

  .tabol {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .tabol,
  .t-h,
  .t-d {
    border: 1px solid black;
  }

  .t-h,
  .t-d {
    padding: 5px;
    text-align: center;
  }

  .remarks-section {
    font-size: 12px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding: 5px;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
  }

  .footer .Dating {
    border: 1px solid #000;
    width: 250px;
    padding-left: 1em;
  }

  .footer .reminder {
    border: 1px solid #000;
    width: 250px;
    padding: 1em;
  }

  .footer .reminders {
    border: 1px solid #000;
    width: 250px;
    font-size: medium;
    font-weight: 550;
    padding: 2em;
  }

  .footer div {
    width: 48%;
  }

  .signature-section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 12px;
  }

  .signature-box {
    text-align: center;
    width: 48%;
    border: 1px solid #000;
    height: 200px;
    padding: 2em;
  }
  .signature-box .bax {
    text-align: start;
    margin-bottom: 3em;
  }

  .signature-box .sig {
    text-align: start;
    margin-bottom: 3em;
  }

  .signature-box span {
    display: block;
    margin-top: 15px;
  }

  .reminder {
    font-size: 12px;
    text-align: justify;
  }

  .small-note {
    font-size: 10px;
    text-align: center;
    margin-top: 5px;
  }

  .tbady .t-ar .t-d {
    padding: 3em;
  }
</style>
