<body class="bodies">
  <div class="containerssss" id="printOffice" style="display: none">
    <div class="kk">
      <strong
        >REPORT ON THE PHYSICAL COUNT OF PROPERTY, PLANT AND EQUIPMENT</strong
      >
    </div>
    <div class="jj"><strong id="hiddenInventoryHeading"></strong></div>
    <p>(Type of Property, Plant and Equipment)</p>
    <p>As at ___________________________________</p>
    <div class="cluster">
      <p><strong>Fund Cluster:</strong> __________________________</p>
    </div>

    <div style="text-align: left; font-size: 14.5px; gap: 100px">
      <p>
        For which <strong><u>JEFFREY M. MENESES, M.A.M</u></strong
        >, <strong><u>ADMINISTRATIVE OFFICER V</u></strong
        >, <strong><u>EASTERN SAMAR STATE UNIVERSITY, Main Campus</u></strong
        >, is accountable, having assumed such accountability on
        <strong><u id="printDateNow">Febreuary 2025</u></strong>
      </p>
    </div>
    <div class="blah" style="font-size: small">
      <p>(Name of Accountable Officer)</p>
      <p>(Official Designation)</p>
      <p>(Entity Name)</p>
    </div>
    <table class="pp">
      <thead class="oo">
        <tr class="rer">
          <th class="dd">ARTICLE</th>
          <th class="dd">DESCRIPTION</th>
          <th class="dd">PROPERTY NUMBER</th>
          <th class="dd">Unit of MEASURE</th>
          <th class="dd">VALUE UNIT</th>
          <th class="dd" colspan="1" style="padding-bottom: 0">
            <div>
              <div style="font-size: small; font-weight: 600">QTY. per</div>
              <div style="display: flex; border-top: 1.5px solid black">
                <div style="flex: 1; font-size: small; padding: 5px">
                  P Card
                </div>
              </div>
            </div>
          </th>

          <th class="dd" colspan="1" style="padding-bottom: 0">
            <div>
              <div style="font-size: small; font-weight: 600">QTY. per</div>
              <div style="display: flex; border-top: 1.5px solid black">
                <div style="flex: 1; font-size: small; padding: 5px">
                  P Count
                </div>
              </div>
            </div>
          </th>

          <th class="dd" colspan="2" style="padding-bottom: 0">
            <div>
              <div
                style="font-size: small; font-weight: 600; text-align: center"
              >
                Shortage/Overage
              </div>
              <div
                style="
                  display: flex;
                  border-top: 1.5px solid black;
                  text-align: center;
                "
              >
                <div
                  style="
                    flex: 2;
                    font-size: small;
                    border-right: 1px solid black;
                    padding: 5px;
                  "
                >
                  QTY.
                </div>
                <div style="flex: 2; font-size: small; padding: 5px">Value</div>
              </div>
            </div>
          </th>

          <th class="dd" colspan="3" style="padding-bottom: 0">
            <div>
              <div style="font-size: small; font-weight: 700">REMARKS</div>
              <div
                style="
                  display: flex;
                  align-items: center;
                  border-top: 1.5px solid black;
                "
              >
                <div
                  style="
                    flex: 2;
                    font-size: small;
                    border-right: 1px solid;
                    padding: 5px;
                  "
                >
                  Receipted by:
                </div>
                <div
                  style="
                    flex: 2;
                    font-size: small;
                    border-right: 1px solid black;
                    padding: 5px;
                  "
                >
                  Location/Dept.
                </div>
                <div style="flex: 2; font-size: small; padding: 5px">
                  Date Required
                </div>
              </div>
            </div>
          </th>
        </tr>
        <!-- <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th>P Card</th>
                    <th>P Count</th>
                    <th>QTY.</th>
                    <th>VALUE</th>
                    <th>Receipted by:</th>
                    <th>Location/Dept.</th>
                    <th>Date Acquired</th>
                </tr> -->
      </thead>
      <tbody id="hiddenInventoryTableBody"></tbody>
    </table>
  </div>
</body>

<style>
  .containerssss {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
  }

  .kk,
  .jj {
    margin: 5px 0;
  }

  p {
    margin: 5px 0;
  }

  .pp {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .pp,
  .dd,
  .ff {
    border: 1px solid black;
  }

  .dd,
  .ff {
    padding: 8px 0 8px 0;
    text-align: center;
  }

  .dd {
    font-weight: 570;
  }

  strong {
    font-weight: bold;
  }

  .cluster {
    display: flex;
    justify-content: left;
  }

  .blah {
    display: flex;
    gap: 90px;
    margin-left: 70px;
  }
</style>
