<body class="body-container">
  <div class="report-container" id="printOffice" style="display: none">
    <div class="header-title">
      <strong>REPORT ON THE PHYSICAL COUNT OF PROPERTY, PLANT AND EQUIPMENT</strong>
    </div>
    <div class="sub-header"><strong id="hiddenInventoryHeading"></strong></div>
    <p>(Type of Property, Plant and Equipment)</p>
    <p>As at ___________________________________</p>
    <div class="fund-cluster">
      <p><strong>Fund Cluster:</strong> __________________________</p>
    </div>

    <div class="accountable-info" style="text-align: left; font-size: 14.5px; gap: 100px">
      <p>
        For which <strong><u>JEFFREY M. MENESES, M.A.M</u></strong>,
        <strong><u>ADMINISTRATIVE OFFICER V</u></strong>,
        <strong><u>EASTERN SAMAR STATE UNIVERSITY, Main Campus</u></strong>,
        is accountable, having assumed such accountability on
        <strong><u id="printDateNow">February 2025</u></strong>
      </p>
    </div>
    <div class="designation-info" style="font-size: small">
      <p>(Name of Accountable Officer)</p>
      <p>(Official Designation)</p>
      <p>(Entity Name)</p>
    </div>
    <table class="inventory-table">
      <thead class="inventory-header">
        <tr class="table-row">
          <th class="column-header">ARTICLE</th>
          <th class="column-header">DESCRIPTION</th>
          <th class="column-header">PROPERTY NUMBER</th>
          <th class="column-header">UNIT OF MEASURE</th>
          <th class="column-header">VALUE UNIT</th>
          <th class="column-header" colspan="1">
            <div>
              <div class="sub-title">QTY. per</div>
              <div class="border-line">
                <div class="sub-content">P Card</div>
              </div>
            </div>
          </th>
          <th class="column-header" colspan="1">
            <div>
              <div class="sub-title">QTY. per</div>
              <div class="border-line">
                <div class="sub-content">P Count</div>
              </div>
            </div>
          </th>
          <th class="column-header" colspan="2">
            <div>
              <div class="sub-title-center">Shortage/Overage</div>
              <div class="border-line">
                <div class="sub-content border-right">QTY.</div>
                <div class="sub-content">Value</div>
              </div>
            </div>
          </th>
          <th class="column-header" colspan="3">
            <div>
              <div class="sub-title-bold">REMARKS</div>
              <div class="border-line">
                <div class="sub-content border-right">Receipted by:</div>
                <div class="sub-content border-right">Location/Dept.</div>
                <div class="sub-content">Date Required</div>
              </div>
            </div>
          </th>
        </tr>
      </thead>
      <tbody id="hiddenInventoryTableBody"></tbody>
    </table>
  </div>
</body>

<style>
  .report-container {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid black;
  }

  .header-title,
  .sub-header {
    margin: 5px 0;
  }

  p {
    margin: 5px 0;
  }

  .inventory-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  .inventory-table,
  .column-header,
  .table-data {
    border: 1px solid black;
  }

  .column-header,
  .table-data {
    padding: 8px 0;
    text-align: center;
  }

  .column-header {
    font-weight: 570;
  }

  strong {
    font-weight: bold;
  }

  .fund-cluster {
    display: flex;
    justify-content: left;
  }

  .designation-info {
    display: flex;
    gap: 90px;
    margin-left: 70px;
  }

  .border-line {
    display: flex;
    border-top: 1.5px solid black;
  }

  .sub-content {
    flex: 2;
    font-size: small;
    padding: 5px;
  }

  .border-right {
    border-right: 1px solid black;
  }

  .sub-title {
    font-size: small;
    font-weight: 600;
  }

  .sub-title-center {
    font-size: small;
    font-weight: 600;
    text-align: center;
  }

  .sub-title-bold {
    font-size: small;
    font-weight: 700;
  }
</style>
