<body class="blah">
  <div class="box-container" id="printPtr" style="display: none">
    <h2 class="heading">PROPERTY TRANSFER REPORT (PTR)</h2>
    <hr />
    <p class="appendix">Appendix 76</p>

    <div class="form-sections">
      <div class="row">
        <label>Entity Name: <span id="printEntityName"></span></label>

        <label>Fund Cluster: <span id="printFundCluster"></span></label>
      </div>
      <hr />
      <div class="row">
        <label
          >From Accountable Office/Agency/Fund Cluster:
          <span id="printFrom"></span
        ></label>

        <label>PTR No.:</label>
      </div>
      <div class="row">
        <label
          >To Accountable Office/Agency/Fund Cluster: <span id="printTo"></span
        ></label>

        <label>Date: <span id="printDateAcquired"></span></label>
      </div>
    </div>
    <hr />
    <div class="form-sections">
      <p>Transfer Type (check only one):</p>
      <div class="checkbox-groups">
        <div class="check-item">
          <label>
            <span class="checkbox-box" id="printDonation"></span> Donation
          </label>
        </div>

        <div class="check-item">
          <label>
            <span class="checkbox-box" id="printRelocate"></span> Relocate
          </label>
        </div>

        <div class="check-item">
          <label>
            <span class="checkbox-box" id="printReassignment"></span>
            Reassignment
          </label>
        </div>

        <div class="check-item">
          <label>
            <span class="checkbox-box" id="printOthers"></span> Others
            (specify):
            <span id="printSpecify"></span>
          </label>
        </div>
      </div>
    </div>

    <table>
      <thead>
        <tr>
          <th>Date Acquired</th>
          <th>Property No.</th>
          <th>Qty/Unit</th>
          <th>Description</th>
          <th>Amount</th>
          <th>Condition of PPE</th>
        </tr>
      </thead>
      <tbody>
        <!-- Add rows as needed -->
        <tr>
          <td><span id="printDate"></span></td>
          <td><span id="printPropertyNo"></span></td>
          <td><span id="printUnit"></span></td>
          <td><span id="printDescription"></span></td>
          <td><span id="printAmount"></span></td>
          <td><span id="printPPE"></span></td>
        </tr>
      </tbody>
    </table>

    <div class="form-section">
      <p>Reason for Transfer: <span id="printReasonforTransfer"></span></p>
    </div>
    <hr />
    <div class="signature-section">
      <div class="column">
        <p>Approved by:</p>
        <label>Signature:</label>

        <label>Printed Name:</label>

        <label>Designation:</label>

        <label>Date: <span id="dateprint1"></span></label>
      </div>
      <div class="column">
        <p>Released by: (Old Custodian)</p>
        <label>Signature:</label>

        <label>Printed Name: <span id="printFromName"></span></label>

        <label>Designation:</label>

        <label>Date: <span id="dateprint2"></span></label>
      </div>
      <div class="column">
        <p>Received by: (New Custodian)</p>
        <label>Signature:</label>

        <label>Printed Name: <span id="printToName"></span></label>

        <label>Designation:</label>

        <label>Date: <span id="dateprint3"></span></label>
      </div>
    </div>
  </div>
</body>

<style>
  .blah {
    font-family: Arial, sans-serif;
  }

  .box-container {
    max-width: 800px;
    margin: auto;
    border: 2px solid black;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
  }

  .heading {
    text-align: center;
    margin-bottom: 20px;
  }

  hr {
    position: relative;
    border: none;
    height: 2px;
    background-color: black;
    width: calc(100% + 40px);
    left: -20px;
  }

  .appendix {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 0.9em;
  }

  .form-sections {
    margin-bottom: 20px;
  }

  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: small;
  }

  .row label {
    margin-right: 10px;
  }

  .underline {
    flex: 1;
    display: inline-block;
    border-bottom: 1px solid black;
    margin-right: 20px;
    height: 20px;
  }

  .checkbox-groups {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px 30px;
    font-size: small;
  }

  .check-item {
    display: flex;
    align-items: center;
  }

  .checkbox-box {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    margin-right: 5px;
  }

  table {
    width: calc(100% + 40px);
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left: -20px;
  }

  th {
    font-weight: normal;
    font-size: small;
  }

  table,
  th,
  td {
    border: 2px solid black;
  }

  th,
  td {
    text-align: center;
    padding: 5px;
  }

  .underline-textarea {
    display: block;
    height: 20px;
    border-bottom: 1px solid black;
  }

  .signature-section {
    display: flex;
    justify-content: space-between;
  }

  .column {
    flex: 2;
    margin-right: 10px;
    font-size: small;
  }

  .column p {
    font-weight: bold;
  }

  .column label {
    display: block;
    margin-top: 5px;
    margin-bottom: 2px;
  }

  .column .underline {
    margin-bottom: 10px;
    width: 100%;
  }
</style>
