<div class="print-A4-size">
    <h1>print return recirpt
    </h1>
</div>

<style>

    .print-A4-size{
        width: 210mm;
        height: 297mm;
        background-color: white;

    }

</style>

