<div class="sidebar">
    <div class="logo-section">
        <div class="imageSection">
            <div>
                <img src="../images/university_logo.png" alt="University Logo">
            </div>
            <div>
                <img src="../images/PMS_logo.webp" alt="PMS Logo">
            </div>
        </div>
        <div class="line">
            <div class="dot"></div>
            <div class="line1"></div>
            <div class="dot"></div>
        </div>
        <h5 class="title">EASTERN SAMAR STATE UNIVERSITY</h5>
        <div class="basta">
            <p>EXCELLENCE</p>
            <div class="dot"></div>
            <p>ACCOUNTABILITY</p>
            <div class="dot"></div>
            <p>SERVICE</p>
        </div>
    </div>

    <nav class="nav-menu">
        <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="/add-item">Add Item</a></li>
            <li><a href="#">Inventory</a></li>
            <li><a href="#">Return Item</a></li>
            <li><a href="#">Property Transfer</a></li>
            <li><a href="#">Notification</a></li>
            <li><a href="#">User Account</a></li>
        </ul>
    </nav>
</div>