<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard | Property Management System</title>
  <link rel="stylesheet" href="../css/dashboardstyle.css">
  <link rel="stylesheet" href="../css/general.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
  <div class="container">
    <!-- Sidebar -->
    <%- include("./includes/sidebar") %>

      <!-- Main content -->
      <div class="main-content">
      </div>
  </div>
</body>

</html>