<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Property Management System</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/loginstyle.css" />
    <link rel="stylesheet" href="../css/general.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="circle circle1"></div>
    <div class="circle circle2"></div>
    <div class="circle circle3"></div>
    <div class="circle circle4"></div>

    <!-- Centered Container -->
    <div class="form-wrapper">
      <!-- Sign Up Form -->
      <!-- <div id="signup" class="form-container hidden sign-up">
        <form action="/signup/submit" method="POST">
          <h2>Create account</h2>
          <input
            type="text"
            placeholder="First name"
            name="firstname"
            required
          />
          <input type="text" placeholder="Last name" name="lastname" required />
          <input type="email" placeholder="Email" name="email" required />
          <input type="text" placeholder="Phone no." name="phone" />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password (minimum 8 characters)"
          />
          <input
            type="text"
            placeholder="Role"
            for="Role"
            name="role"
            id="role"
            required
          />
          <button class="btn" type="submit">Create account</button>
          <div class="line"></div>
          <p class="link">
            Already have an account? <a id="showSignin">Sign In</a>
          </p>
        </form>
      </div> -->

      <!-- Sign In Form -->
      <div id="signin" class="form-container sign-in">
        <form action="/login/submit" method="POST">
          <div class="success">
            <% if (messages && messages.success) { %> <%= messages.success %> <%
            } %>
          </div>
          <div class="error">
            <% if (messages && messages.error) { %> <%= messages.error %> <% }
            %>
          </div>
          <h2>Sign In</h2>
          <input
            type="text"
            placeholder="Role"
            for="role"
            name="role"
            id="role"
            required
          />
          <input type="email" placeholder="Email" name="email" />
          <input
            type="password"
            placeholder="Password"
            name="password"
            required
          />
          <!-- <a href="/forgot-password" class="forgot-password"
            >Forgot Your Password?</a
          > -->
          <button class="btn" type="submit">Log in</button>
          <!-- <div class="line"></div> -->
          <!-- <p class="link">
            Don't have an account yet? <a id="showSignup">Sign Up</a>
          </p> -->
        </form>
      </div>
    </div>

    <script>
      function updateTagline(title, text) {
        // No tagline, so skip
      }

      document
        .getElementById("showSignup")
        .addEventListener("click", function () {
          document.getElementById("signin").classList.add("hidden");
          document.getElementById("signup").classList.remove("hidden");
        });

      document
        .getElementById("showSignin")
        .addEventListener("click", function () {
          document.getElementById("signup").classList.add("hidden");
          document.getElementById("signin").classList.remove("hidden");
        });
    </script>
  </body>
</html>
