<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maintenance Recommendation Evaluation Report Form | Property Management System</title>
    <link rel="stylesheet" href="../css/mrer.css">
    <link rel="stylesheet" href="../css/general.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<body>
    <div class="container">
        <!-- Sidebar -->
        <%- include("./includes/sidebar") %>

        <!-- Main content -->
        <div class="main-content">
            <div class="fix">
                <h1>Maintenance Recommendation Evaluation Report Form</h1>
                <h2>Item Details</Details></h2>
            </div>

            <div class="form-container">
                <form method="POST" action="/mrer/save">

                    <!-- Status Section -->
                    <div class="form-group0">
                        <div class="checkbox-group">
                            <label>Unserviceable/Non-functional<input type="checkbox" id="is_unserviceable" name="is_unserviceable"></label>
                        </div>
                        <div class="checkbox-group">
                            <label>Functional<input type="checkbox" id="is_functional" name="is_functional"></label>
                        </div>
                    </div>

                    <!-- Form Fields -->
                    <div class="form-group1">
                        <div class="third-width">
                            <label>Document Type*</label>
                            <select name="documentType" id="documentType">
                              <option value="par">PAR</option>
                              <option value="ics">ICS</option>
                            </select>
                          </div>
                        <div class="half-width">
                            <label for="office">Name of Office *</label>
                            <input type="text" id="office" name="office" placeholder="Ex. Smart Center" required>
                        </div>
                        <div class="half-width">
                            <label for="quantity">Quantity *</label>
                            <input type="number" id="quantity" name="quantity" placeholder="Ex. 100" required>
                        </div>
                        <div class="half-width">
                            <label for="unit">Unit *</label>
                            <input type="text" id="unit" name="unit" placeholder="Ex. Unit" required>
                        </div>
                        <div class="half-width">
                            <label for="purpose">Purpose *</label>
                            <select id="purpose" name="purpose" required>
                                <option value="" disabled selected>Select Purpose</option>
                                <option>Disposal</option>
                                <option>Repair</option>
                                <option>Return to stock to stock</option>
                                <!-- Add options here -->
                            </select>
                        </div>
                    </div>

                    <div class="form-group2">
                        <div class="half-width">
                            <label for="propertyNumber">Property No. (if any)</label>
                            <input type="number" id="property_no" name="property_no" placeholder="Ex. 15-04-011">
                            <div
                            style="display: flex; flex-direction: column"
                            id="results"
                          ></div>
                        </div>
                        <div class="half-width">
                            <label for="dateAcquired">Date Acquired *</label>
                            <input type="date" id="date_acquired" name="date_acquired" required>
                        </div>
                        <div class="half-width">
                            <label for="endUser">Name of End User *</label>
                            <input type="text" id="endUser" name="endUser" placeholder="Ex. John Lloyd Tabuac" required>
                        </div>
                        <div class="half-width">
                            <label for="unitValue">Unit Value *</label>
                            <input type="number" id="unitValue" name="unitValue" placeholder="Ex. 1000" required>
                        </div>
                        <div class="half-width">
                            <label for="totalValue">Total Value *</label>
                            <input type="number" id="total_value" name="total_value" placeholder="Ex. 100,000" required>
                        </div>
                    </div>

                    <!-- Additional Options -->
                    <div class="form-group3">
                        <div class="checkbox-group1">
                            <label>Under warranty<input type="checkbox" id="under_warranty" name="under_warranty"></label>
                        </div>
                        <div class="checkbox-group2">
                            <label>Other/s<input type="checkbox" id="others" name="others"></label>
                            <input type="text" id="other_details" name="other_details" placeholder="Specify here..." class="specify-box">
                        </div>
                    </div>

                    <!-- Reasons and Description -->
                    <div class="form-group4">
                        <div class="half-width">
                            <label for="reasons">Reasons:</label>
                            <textarea id="reasons" name="reasons" placeholder="Ex. Irreplaceable Grid"></textarea>
                        </div>
                        <div class="half-width">
                            <label for="description">Description:</label>
                            <input type="text" id="description" name="description">
                        </div>
                    </div>

                    <div class="form-group5">
                        <div class="full-width">
                            <label for="overall">Overall Findings: Narrative recommendation</label>
                            <textarea id="overall_findings" name="overall_findings" placeholder="Ex. Damaged"></textarea>
                        </div>
                    </div>

                    <!-- Buttons -->
                    <div class="button-container">
                        <button type="submit" class="btn-primary" onclick="printDocument('Print')">Print</button>
                        <button type="save" class="btn-secondary">Save</button>
                    </div>
                    <script>
                        function printDocument () {
                            window.print();
                        }
                    </script>
                </form>
            </div>
        </div>
    </div>
</body>
<%- include("./includes/print-mrer") %>
<script src="../js/mrer-api.js"></script>
</html>
