<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Property Transfer Receipt | Property Management System</title>
    <link rel="stylesheet" href="../css/PTRstyle.css" />
    <link rel="stylesheet" href="../css/general.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>

  <body>
    <%- include("./includes/sidebar") %>

    <div class="container">
      <!-- Main content -->
      <div class="main-content">
        <div class="fix">
          <h1>Property Transfer Receipt</h1>
          <h2>Item Details</h2>
        </div>

        <div class="form-container">
          <form method="POST" action="/ptr/save">
            <div class="form-group">
              <div class="half-width">
                <label>Property Name*</label>
                <input
                  type="text"
                  required
                  placeholder="Enter your text here..."
                  id="property_name"
                  name="property_name"
                />
              </div>
              <div class="half-width">
                <label>Fund Cluster</label>
                <input
                  type="text"
                  id="fund_cluster"
                  name="fund_cluster"
                  placeholder="Enter your text here..."
                />
              </div>
            </div>
            <div class="form-group">
              <div class="half-width">
                <label>From Accountable Officer/Agency/Fund Cluster*</label>
                <input
                  type="text"
                  required
                  placeholder="Enter your text here..."
                  id="from_accountable"
                  name="from_accountable"
                />
              </div>
              <div class="half-width">
                <label>To Accountable Officer/Agency/Fund Cluster*</label>
                <input
                  type="text"
                  required
                  placeholder="Enter your text here..."
                  id="to_accountable"
                  name="to_accountable"
                />
              </div>
            </div>
            <div class="form-group">
              <div class="half-width">
                <label>PTR No.</label>
                <input
                  type="text"
                  id="ptr_no"
                  name="ptr_no"
                  placeholder="xxxxxxxxx"
                />
              </div>
              <div class="half-width">
                <label>Date</label>
                <input type="date" id="ptr_date" name="ptr_date" />
              </div>
            </div>

            <div class="form-group2">
              <label for="transfer-type" class="trans"
                >Transfer Type: (check only one)</label
              >
              <div class="checkbox-group">
                <label
                  ><input
                    type="radio"
                    name="transfer_type"
                    id="transfer_type"
                    value="Donation"
                  />
                  Donation</label
                >
                <label
                  ><input
                    type="radio"
                    name="transfer_type"
                    id="transfer_type"
                    value="Relocate"
                  />
                  Relocate</label
                >
                <label
                  ><input
                    type="radio"
                    name="transfer_type"
                    value="Reassignment"
                    id="transfer_type"
                  />
                  Reassignment</label
                >
                <label
                  ><input
                    type="radio"
                    name="transfer_type"
                    id="transfer_type"
                    value="Others"
                  />
                  Others(Specify)</label
                >
              </div>
              <input
                id="specify_box"
                name="specify_box"
                type="text"
                class="specify-box"
                placeholder="Specify here..."
              />
            </div>

            <div class="form-group">
              <div class="third-width">
                <label>Date Acquired*</label>
                <input
                  type="date"
                  id="date_acquired"
                  name="date_acquired"
                  required
                />
              </div>
              <div class="third-width">
                <label>Property No.*</label>
                <input
                  type="text"
                  id="property_no"
                  name="property_no"
                  required
                  placeholder="xxxxxxxxx"
                />
              </div>
              <div class="third-width">
                <label>Quantity*</label>
                <input
                  type="number"
                  id="quantity"
                  name="quantity"
                  required
                  placeholder="xxxxxxxxx"
                />
              </div>
              <div class="third-width">
                <label>Amount*</label>
                <input
                  type="number"
                  id="amount"
                  name="amount"
                  required
                  placeholder="xxxxxxxxx"
                />
              </div>
              <div class="third-width">
                <label>Condition of PPE*</label>
                <input
                  type="text"
                  name="condition_ppe"
                  id="condition_ppe"
                  required
                />
              </div>
            </div>

            <div class="form-group">
              <div class="desc1">
                <label>Description</label>
                <textarea
                  placeholder="Enter your text here..."
                  name="description"
                  id="description"
                ></textarea>
              </div>
              <div class="desc2">
                <label>Reason for Transfer</label>
                <textarea
                  placeholder="Enter your text here..."
                  name=" reason_for_transfer"
                  id=" reason_for_transfer"
                ></textarea>
              </div>
            </div>

            <div class="button-container">
              <button type="submit">Transfer</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
