<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../Public/css/signup.css">
  <title>Document</title>
</head>
<body>
  <main>
    <div>
      <img src="../Public/images/PMS_logo.webp" alt="">
    </div>
    <div>
      <div>
        <header>
          <img src="../Public/images/smartzone_logo.png" alt="">
          <img src="../Public/images/university_logo.png" alt="">
        </header>
        <div class="heading">
          <h1>Register</h1>
          <p>Let's get you all set up so you can verify your personal account and begin setting up your work profile</p>
        </div>
        <form action="">
          <div class="row">
            <div class="input_w8_label">
              <label for="">First Name</label>
              <input type="text" name="firstname" placeholder="Enter first Name">
            </div>
            <div class="input_w8_label">
              <label for="">Last Name</label>
              <input type="text" name="lastname" placeholder="Enter last Name">
            </div>
          </div>
          <div class="row">
            <div class="input_w8_label">
              <label for="">Email</label>
              <input type="email" name="email" placeholder="Enter email">
            </div>
            <div class="input_w8_label">
              <label for="">Phone no.</label>
              <input type="text" name="phone" placeholder="Enter phone no.">
            </div>
          </div>
          <div class="input_w8_label">
            <label for="">Password</label>
            <input type="password" name="password" placeholder="Enter password, minimum 8 characters">
          </div>
          <div class="button-section">
            <button type="submit">Signup</button>
            <div>
              Already have an account? 
              <a href="/">Log In</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </main>
</body>
</html>