<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../css/signup.css">
  <link rel="stylesheet" href="../css/general.css">
  <title>Document</title>
</head>
<body>
  <main>
    <div>
      <div>
        <header>
          <img src="../images/smartzone_logo.png" alt="">
          <img src="../images/university_logo.png" alt="">
        </header>
        <div class="success">
          <% if (messages.success) { %>
              <%= messages.success %> 
          <% } %>
        </div>
        <div class="error">
          <% if (messages.error) { %>
              <%= messages.error %> 
          <% } %>
        </div>
        <div class="heading">
          <h1>Register</h1>
          <p>Let's get you all set up so you can verify your personal account and begin setting up your work profile</p>
        </div>
        <form action="/signup/submit" method="post">
          <div class="row">
            <div class="input_w8_label">
              <label for="">First Name</label>
              <input type="text" name="firstname" placeholder="Enter first name" required>
            </div>
            <div class="input_w8_label">
              <label for="">Last Name</label>
              <input type="text" name="lastname" placeholder="Enter last name" required>
            </div>
          </div>
          <div class="row">
            <div class="input_w8_label">
              <label for="">Email</label>
              <input type="email" name="email" placeholder="Enter email" required>
            </div>
            <div class="input_w8_label">
              <label for="">Phone no.</label>
              <input type="text" name="phone" placeholder="Enter phone no." required>
            </div>
          </div>
          <div class="row">
            <div class="input_w8_label">
              <label for="">Password</label>
              <input type="password" name="password" placeholder="Enter password, minimum 8 characters" required>
            </div>
            <div class="input_w8_label">
              <label for="role">User Role</label>
              <select name="role" id="role" required>
                <option value="" disabled selected>Select your role</option>
                <option value="admin">Admin</option>
                <option value="staff">Employee</option>
              </select>
            </div>
          </div>
          <div class="button-section">
            <button type="submit">Signup</button>
          </div>
          <p class="login-prompt">Already have an account? <a href="/login">Log in here.</a></p>
        </form>
      </div>
    </div>
  </main>
</body>
</html>
