/* General reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}

/* Flex container for sidebar and content */
.container {
    display: flex;
    height: 100vh;
}

/* Sidebar styling */
.sidebar {
    width: 370px;
    background-color: #333;
    color: white;
    padding: 20px;
    position: fixed;
    height: 100%;
    overflow-y: auto;
}

/* Main content area */
.main-content {
    margin-left: 370px;
    /* Leaves space for the sidebar */
    padding: 20px;
    width: calc(100% - 370px);
    /* Takes the remaining space */
    overflow: auto;
    /* Enables scrolling for the content */
    transition: all 0.3s ease;
}

/* Table container */
.table-container {
    position: relative;
    transition: all 0.3s ease;
}

/* When table is maximized */
.table-container.maximized {
    position: absolute;
    top: 0;
    left: 370px;
    /* Leaves space for the sidebar */
    right: 0;
    bottom: 0;
    background-color: white;
    overflow: auto;
    z-index: 999;
    padding: 20px;
}

/* Table styling */
.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th,
.table-container td {
    padding: 15px;
    border: 1px solid #ddd;
}

.table-container thead {
    background-color: #f2f2f2;
}

.table-container tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Maximize icon */
i#maximize-icon {
    width: 26px;
    height: 26px;
    cursor: pointer;
    margin-top: 20px;
}

/* Other styles */
.cards-container {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 10px;
}

.card {
    width: 180px;
    height: 100px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.purple {
    background-color: #AC95FF;
}

.red {
    background-color: #F96A6A;
}

.green {
    background-color: #B3C04E;
}

.card span {
    display: block;
    font-size: 28px;
    margin-top: 10px;
}

table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}