/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Webkit browsers (Chrome, Safari, etc.) */
}

/* Flex container for sidebar and content */
.container {
  display: flex;
  height: 100vh;
  background-color: #f7f7f7;
}

/* Sidebar styling */
.sidebar {
  width: 370px;
  background-color: #333;
  color: white;
  padding: 20px;
  position: fixed;
  height: 100%;
  overflow-y: auto;
}

/* Main content area */
.main-content {
  margin-left: 370px; /* Leaves space for the sidebar */
  padding: 20px;
  width: calc(100% - 370px); /* Takes the remaining space */
  overflow: none; /* Enables scrolling for the content */
  transition: all 0.3s ease;
}
.main-content::-webkit-scrollbar {
  display: none;
}

hr {
  width: 1150px;
  height: 1px;
}

h2 {
  color: #000;
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  font-family: Poppins;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2.5px;
}

h3 {
  color: #000;
  text-align: center;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
}

.right-allign {
  display: flex;
  /* justify-content: right; */
  margin-left: 80.5%;
}
/* Table container */
.table-container {
  /* margin-top: 50px; */
  position: relative;
  transition: all 0.3s ease;
}

/* When table is maximized */
.table-container.maximized {
  margin-left: -68px;
  position: absolute;
  top: 0;
  left: 370px; /* Leaves space for the sidebar */
  right: 0;
  bottom: 0;
  background-color: #f7f5ed;
  overflow: auto;
  z-index: 999;
  padding: 20px;
}

.table-container.maximized::-webkit-scrollbar {
  display: none;
}

/* Table styling */
.table-container table {
  width: 100%;
  border-collapse: collapse;
}

.table-container th,
.table-container td {
  padding: 15px;
  border: 1px solid #ddd;
}

.table-container thead {
  background-color: #f2f2f2;
}

.table-container tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.logo-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0 20px 24px 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  padding-top: 20px;
  background-color: #095c02;
}

/* Maximize icon */
i#maximize-icon {
  width: 26px;
  height: 26px;
  cursor: pointer;
  margin-top: 20px;
}

/* Other styles */
.cards-container {
  margin-top: 20px;
  display: flex;
  margin-left: 40px;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.card {
  width: 200px;
  height: 100px;
  padding: 15px;
  border-radius: 20px;
  text-align: center;
  background-color: white;
  color: black;
  font-size: 13px;
  font-weight: 500;
  border-top: #0a5d03 7px solid;
  border-left: 7px solid #0a5d03;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

/* .purple:hover {
  background-color: #ac95ff;
}

.red:hover {
  background-color: #f96a6a;
}

.green:hover {
  background-color: #b3c04e;
}  */

.card span {
  display: block;
  font-size: 40px;
  margin-bottom: 8px;
  margin-top: -23px;
}

table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 10px;
  text-align: left;
}

thead {
  background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
