* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    width: 250px;
    background-color: #0A5D03;
    color: white;
    height: 100vh;
    padding: 20px;
    position: fixed;
}

.logo-section img {
    width: 100px;
    display: block;
    margin: 10px auto;
    border-radius: 50%;
}

.nav-menu {
    margin-top: 20px;
}

.nav-menu ul {
    list-style-type: none;
}

.nav-menu ul li {
    padding: 15px 0;
}

.nav-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

.main-content {
    margin-left: 270px;
    padding: 20px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h2{
    margin-top: 30px;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    column-gap: 75px;
    row-gap: 15px;
}

.card {
    width: 180px;
    height: 100px;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.purple {
    width: 241.528px;
    height: 129.39px;
    flex-shrink: 0;
    border-radius: 12.939px;
    background-color: #AC95FF;
}

.red {
    width: 241.528px;
    height: 129.39px;
    flex-shrink: 0;
    border-radius: 12.939px;
    background-color: #F96A6A;
}

.green {
    width: 241.528px;
    height: 129.39px;
    flex-shrink: 0;
    border-radius: 12.939px;
    background-color: #B3C04E;
}

.card span {
    display: block;
    font-size: 28px;
    margin-top: 10px;
}

table {
    width: 100%;
    margin-top: 30px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

thead {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}
