* {
  margin: 0;
}

.success {
  color: rgb(9, 163, 9);
}

.error {
  color: rgb(255, 14, 14);
}

input,
select,
textarea {
  border: 1px solid #000 !important;
}

.sidebar {
  width: 300px;
  background-color: #0a5d03;
  color: white;
  height: 100vh;
  padding: 0 0 20px 0;
  position: fixed;
  overflow: auto;
}

.sidebar .nav-menu ul {
  padding-left: 0;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-menu ul {
  list-style-type: none;
}

.sidebar .nav-menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.sidebar .imageSection {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.fa-regular.fa-user {
  margin-right: 8px;
}

.fa-regular.fa-bell {
  margin-right: 8px;
}

.fa-solid .fa-arrow-down-up-across-line {
  margin-right: 10px;
}

.sidebar .imageSection > div {
  width: 80px;
  border-radius: 50%;
  background-color: white;
  display: grid;
  place-items: center;
}

.sidebar .imageSection > div > img {
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.sidebar .dot {
  width: 5px;
  height: 5px;
  background-color: wheat;
  border-radius: 50%;
}

.sidebar .line {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.sidebar .title {
  color: #ffdf00;
}

.sidebar .line1 {
  flex: 1;
  height: 1px;
  background-color: yellow;
}

.sidebar .basta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 10px;
  color: #ffdf00;
}

/* Optional: Add styles for the parent item */
li {
  position: relative;
}

/* Smaller text for dropdown items */
.sidebar #dropdown {
  font-size: 10px;
  /* Smaller, but readable text size */
  padding-left: 20px;
}

.sidebar #dropdown li {
  margin: 9px;
}

.sidebar #dropdown li a {
  color: white;
  /* Inherits color from sidebar */
  font-size: 13px;
  text-decoration: none;
  display: block;
  padding-left: -50px;
  transition: color 0.3s;
}

.sidebar #dropdown li a:hover {
  color: #ffcc00;
  /* Change color on hover for better visibility */
}

/*other dropdwown*/
/* Optional: Add styles for the parent item */
li {
  position: relative;
}

/* Smaller text for dropdown items */
.sidebar #dropdowns {
  font-size: 10px;
  /* Smaller, but readable text size */
  padding-left: 20px;
}

.sidebar #dropdowns li {
  margin: 9px;
}

.sidebar #dropdowns li a {
  color: white;
  /* Inherits color from sidebar */
  font-size: 13px;
  text-decoration: none;
  display: block;
  padding-left: -50px;
  transition: color 0.3s;
}

.sidebar #dropdowns li a:hover {
  color: #ffcc00;
  /* Change color on hover for better visibility */
}

.logo-section {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-bottom: 1px solid black;
  padding: 0 20px 24px 20px;
  background-color: #0a5d03;
  position: sticky;
  top: 0;
  z-index: 10;
  padding-top: 20px;
}


/* Navigation links */
.sidebar nav {
  display: flex;
  flex-direction: column;
}

.sidebar nav a {
  padding: 20px;
  text-decoration: none;
  color: #fff;
  display: block;
  transition: background 0.3s;
}

.sidebar nav a:hover,
.sidebar nav a.active {
  background-color: #008000;
}

.main-content {
  margin-left: 320px;
  /* Leaves space for the sidebar */
  padding: 20px;
  width: calc(100% - 370px);
  /* Takes the remaining space */
  overflow: auto;
  /* Enables scrolling for the content */
  transition: all 0.3s ease;
  width: -webkit-fill-available;
}

.dash::after {
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: -0.6em;
  padding-right: 10px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' fill-rule='evenodd' d='M4.825 11h3.38c.121 0 .32 0 .502.016c.225.02.609.076 1.015.303a2.5 2.5 0 0 1 .96.96c.226.405.282.789.302 1.014c.017.183.016.381.016.502v5.41c0 .121 0 .32-.016.502c-.02.225-.075.609-.303 1.015a2.5 2.5 0 0 1-.96.96a2.5 2.5 0 0 1-1.014.302C8.524 22 8.326 22 8.205 22h-3.41c-.12 0-.32 0-.502-.016a2.5 2.5 0 0 1-1.014-.303a2.5 2.5 0 0 1-.96-.96a2.5 2.5 0 0 1-.303-1.014C2 19.524 2 19.326 2 19.205v-5.41c0-.12 0-.32.016-.502c.02-.225.076-.609.303-1.014a2.5 2.5 0 0 1 .96-.96a2.5 2.5 0 0 1 1.014-.303C4.476 11 4.674 11 4.795 11zm-.761 2.256C4 13.37 4 13.52 4 13.826v5.35c0 .303 0 .455.064.568a.5.5 0 0 0 .192.192c.114.064.265.064.569.064h3.35c.304 0 .456 0 .57-.064a.5.5 0 0 0 .191-.192C9 19.631 9 19.48 9 19.175v-5.35c0-.304 0-.455-.064-.57a.5.5 0 0 0-.192-.191C8.631 13 8.48 13 8.175 13h-3.35c-.304 0-.455 0-.57.064a.5.5 0 0 0-.191.192M4.825 2h3.38c.121 0 .32 0 .502.016c.225.02.609.076 1.015.303a2.5 2.5 0 0 1 .96.96c.226.405.282.789.302 1.014c.017.183.016.381.016.502v2.41c0 .121 0 .32-.016.502c-.02.225-.075.609-.303 1.015a2.5 2.5 0 0 1-.96.96a2.5 2.5 0 0 1-1.014.302c-.183.017-.381.016-.502.016h-3.41c-.12 0-.32 0-.502-.016a2.5 2.5 0 0 1-1.014-.303a2.5 2.5 0 0 1-.96-.96a2.5 2.5 0 0 1-.303-1.014C2 7.524 2 7.326 2 7.205v-2.41c0-.12 0-.32.016-.502c.02-.225.076-.609.303-1.014a2.5 2.5 0 0 1 .96-.96a2.5 2.5 0 0 1 1.014-.303C4.476 2 4.674 2 4.795 2zm-.761 2.256C4 4.37 4 4.52 4 4.825v2.35c0 .304 0 .456.064.57a.5.5 0 0 0 .192.191C4.37 8 4.52 8 4.825 8h3.35c.304 0 .456 0 .57-.064a.5.5 0 0 0 .191-.192C9 7.631 9 7.48 9 7.175v-2.35c0-.304 0-.455-.064-.57a.5.5 0 0 0-.192-.191C8.631 4 8.48 4 8.175 4h-3.35c-.304 0-.455 0-.57.064a.5.5 0 0 0-.191.192M15.825 13h3.38c.121 0 .32 0 .502-.016c.225-.02.609-.075 1.015-.303a2.5 2.5 0 0 0 .96-.96c.227-.405.282-.789.302-1.014c.016-.183.016-.381.016-.502v-5.41c0-.12 0-.32-.016-.502a2.5 2.5 0 0 0-.303-1.014a2.5 2.5 0 0 0-.96-.96a2.5 2.5 0 0 0-1.014-.303C19.524 2 19.326 2 19.205 2h-3.41c-.12 0-.32 0-.502.016c-.225.02-.609.076-1.014.303a2.5 2.5 0 0 0-.96.96a2.5 2.5 0 0 0-.303 1.014C13 4.476 13 4.674 13 4.795v5.41c0 .121 0 .32.016.502c.02.225.076.609.303 1.015a2.5 2.5 0 0 0 .96.96c.405.226.789.282 1.014.302c.183.017.381.016.502.016zm-.761-2.256C15 10.63 15 10.48 15 10.175v-5.35c0-.304 0-.455.064-.57a.5.5 0 0 1 .192-.191C15.37 4 15.52 4 15.826 4h3.35c.303 0 .455 0 .568.064a.5.5 0 0 1 .192.192c.064.114.064.265.064.569v5.35c0 .304 0 .455-.064.57a.5.5 0 0 1-.192.191c-.113.064-.265.064-.569.064h-3.35c-.304 0-.455 0-.57-.064a.5.5 0 0 1-.191-.192M15.825 22h3.38c.121 0 .32 0 .502-.016c.225-.02.609-.076 1.015-.303a2.5 2.5 0 0 0 .96-.96c.227-.405.282-.789.302-1.014c.016-.183.016-.381.016-.502v-2.41c0-.12 0-.32-.016-.502a2.5 2.5 0 0 0-.303-1.014a2.5 2.5 0 0 0-.96-.96a2.5 2.5 0 0 0-1.014-.303C19.524 14 19.326 14 19.205 14h-3.41c-.12 0-.32 0-.502.016c-.225.02-.609.076-1.014.303a2.5 2.5 0 0 0-.96.96a2.5 2.5 0 0 0-.303 1.014c-.016.183-.016.381-.016.502v2.41c0 .121 0 .32.016.502c.02.225.076.609.303 1.015a2.5 2.5 0 0 0 .96.96c.405.227.789.282 1.014.302c.183.016.381.016.502.016zm-.761-2.256C15 19.631 15 19.48 15 19.175v-2.35c0-.304 0-.455.064-.57a.5.5 0 0 1 .192-.191c.114-.064.265-.064.57-.064h3.35c.303 0 .455 0 .568.064c.08.045.147.111.192.192c.064.114.064.265.064.57v2.35c0 .303 0 .455-.064.568a.5.5 0 0 1-.192.192c-.113.064-.265.064-.569.064h-3.35c-.304 0-.455 0-.57-.064a.5.5 0 0 1-.191-.192' clip-rule='evenodd'/%3E%3C/svg%3E");
}

.add::after {
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: -0.6em;
  padding-right: 10px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M18 20v-3h-3v-2h3v-3h2v3h3v2h-3v3zM3 21q-.825 0-1.412-.587T1 19V5q0-.825.588-1.412T3 3h14q.825 0 1.413.588T19 5v5h-2V8H3v11h13v2z'/%3E%3C/svg%3E");
}

.inve::after {
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: -0.6em;
  padding-right: 10px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='m15.5 19.925l-4.25-4.25l1.4-1.4l2.85 2.85l5.65-5.65l1.4 1.4zM21 10h-2V5h-2v3H7V5H5v14h6v2H5q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h4.175q.275-.875 1.075-1.437T12 1q1 0 1.788.563T14.85 3H19q.825 0 1.413.588T21 5zm-9-5q.425 0 .713-.288T13 4t-.288-.712T12 3t-.712.288T11 4t.288.713T12 5'/%3E%3C/svg%3E");
}

.return::after {
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: -0.6em;
  padding-right: 10px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='M20.198 3.002H3.802c-.75 0-1.126 0-1.386.177a1 1 0 0 0-.31.338c-.153.273-.116.64-.041 1.376c.125 1.228.187 1.842.513 2.28c.163.22.369.403.606.54c.476.277 1.102.277 2.355.277h12.922c1.253 0 1.879 0 2.355-.277c.237-.137.443-.32.606-.54c.326-.438.388-1.052.513-2.28c.075-.736.112-1.103-.04-1.376a1 1 0 0 0-.311-.338c-.26-.177-.636-.177-1.386-.177m-10.198 8h4m.539 4.976l2.727-.053c1.086-.02 3.237.247 3.237 2.503c0 2.34-2.249 2.57-3.262 2.57H8.05c-2.128 0-5.048-.472-5.048-4.488V7.997m11.536 7.981a.77.77 0 0 1 .232-.538l1.714-1.454m-1.946 1.992a.77.77 0 0 0 .234.579l1.712 1.414m4.495-9.974v5.028' color='white'/%3E%3C/svg%3E");
}

.ptr::after {
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: -0.6em;
  padding-right: 10px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M20 2H8a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2m-6 2.5a2.5 2.5 0 1 1 0 5a2.5 2.5 0 0 1 0-5M19 15H9v-.25C9 12.901 11.254 11 14 11s5 1.901 5 3.75z'/%3E%3Cpath fill='white' d='M4 8H2v12c0 1.103.897 2 2 2h12v-2H4z'/%3E%3C/svg%3E");
}

.notif::after {
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: -0.6em;
  padding-right: 10px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036q-.016-.004-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='white' d='M5 9a7 7 0 0 1 14 0v3.764l1.822 3.644A1.1 1.1 0 0 1 19.838 18h-3.964a4.002 4.002 0 0 1-7.748 0H4.162a1.1 1.1 0 0 1-.984-1.592L5 12.764zm5.268 9a2 2 0 0 0 3.464 0zM12 4a5 5 0 0 0-5 5v3.764a2 2 0 0 1-.211.894L5.619 16h12.763l-1.17-2.342a2 2 0 0 1-.212-.894V9a5 5 0 0 0-5-5'/%3E%3C/g%3E%3C/svg%3E");
}

.use::after {
  display: inline-block;
  width: 35px;
  height: 35px;
  vertical-align: -0.6em;
  padding-right: 10px;
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='white' d='M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 2a2 2 0 0 0-2 2a2 2 0 0 0 2 2a2 2 0 0 0 2-2a2 2 0 0 0-2-2m0 7c2.67 0 8 1.33 8 4v3H4v-3c0-2.67 5.33-4 8-4m0 1.9c-2.97 0-6.1 1.46-6.1 2.1v1.1h12.2V17c0-.64-3.13-2.1-6.1-2.1'/%3E%3C/svg%3E");
}

#paginationNav a {
  color: #fff;
  background-color: #008000;
  padding: 8px 40px;
  text-decoration: none;
  border-radius: 5px;
}
#paginationNav {
  margin-top: 24px;
  display: flex;
  gap: 12px;
}
