* {
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    justify-content: right;
    align-items: center;
    height: 100vh;
    margin-right: 0;
    background-color: #f7f5ed;

}
.main-content {
    background-color: #f7f5ed;
    padding: 0;
    overflow: hidden;
    margin-left: 305px;
    margin-right: 5px;
}
.form-containers {
    background-color: #f7f5ed;
    border-radius: 10px;
    width: -webkit-fill-available;
    margin-top: 50px;
    margin-left: 15px;
    
}

h1 {
    font-size: 30px;
    font-family: Poppins;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    color: #000;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    
}

h2 {
    font-size: 20px;
    font-family: Poppins;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    color: #000;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 30px;
}

.form-grid {
    background-color: #f7f5ed;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;

}

.form-group label {
    background-color: #f7f5ed;
    color: #3F3F3F;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    ;
}

.form-group label {
    background-color: #f7f5ed;
    color: #000;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="number"],
.form-group input[type="text or number"],
.form-group select,
.form-group textarea {
    width: 95%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
}

.form-group input[type="text"],
.form-group input[type="text"],
.form-group input[type="number"],
.form-group select {
    margin-bottom: 15px;
}

.description {
    grid-column: span 3;
}

textarea {
    resize: vertical;
    height: 80px;
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.save-button {
    background-color: #0A5D03;
    color: white;
}

.cancel-button {
    background-color: #ccc;
    color: #333;
}

