* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  min-height: 100vh;
  background-color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  font-size: 30px;
  font-family: Poppins;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: #000;
  padding-top: 15px;
  padding-left: 20px;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  font-family: Poppins;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  color: #000;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  padding-top: 5px;
  margin-bottom: 10px;
  margin-left: 10px;
}

.fix {
  margin-top: 8%;
}

/* Main content area */
.main-content {
  background-color: white;
  margin-left: 260px !important;
  /* Leaves space for the sidebar */
  padding: 0 20px !important;
  height: 100vh !important;
  width: calc(100% - 370px);
  /* Takes the remaining space */
  overflow: auto !important;
  /* Enables scrolling for the content */
  transition: all 0.3s ease;
}

.main-content::-webkit-scrollbar {
  display: none;
}

.form-container {
  margin-top: 30px;
  background-color: white;
  font-family: Poppins;
  padding: 0 0 0 0;
  width: 100%;
  border-radius: 8px;
  margin-left: 35px;
}

.form-container h2 {
  margin-bottom: 20px;
  text-align: left;
  color: #333;
}

.form-group {
  display: grid;
  gap: 10px;
  /* margin-bottom: 15px; */
  margin-right: 80px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9em;
  color: #000;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="number"],
.form-group select {
  width: 100%;
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group input[type="number"],
.form-group select {
  height: 36px;
}

.form-group .half-width {
  flex: 1;
}

.form-group5 .desc1 {
  width: 0;
}

.form-group5 .desc2 {
  width: 100%;
}

.form-group .third-width {
  flex: 0 0 15%;
  /* margin-left: 35px;  */
  /* margin-top: 30px; */
}

.transfer-type {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.transfer-type label {
  display: flex;
  align-items: center;
  font-size: 0.9em;
  color: #555;
}

.transfer-type input[type="checkbox"] {
  margin-right: 5px;
}

.form-group5 textarea {
  resize: none;
  height: 250px;
  width: calc(100% - 70px);
  padding: 8px;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
}

.desc {
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 40px;
  margin-left: -150px;
}

.button-container button {
  background-color: #0a5d03;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  cursor: pointer;
}

.print-button {
  background-color: #0a5d03;
  color: white;
}

.button-container button:hover {
  background-color: #1d8d01;
}

.form-group2 {
  padding: 20px;
  width: 300px;
  display: inline-block;
}

.form-group2 .trans {
  font-weight: 500;
  color: #555;
}

.form-group2 label {
  color: #000;
}

.checkbox-group {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.specify-box {
  margin-top: -50px;
  margin-left: 500px;
  border: 2px solid #cccccc;
  padding: 5px;
  width: 100%;
  height: 50px;
  border-radius: 5px;
  color: #aaaaaa;
  background-color: white;
  vertical-align: 1.5em;
}

/* print ptr */

@media print {
  .container,
  .sidebar {
    size: A4;
    margin: 0;
    display: none;
  }

  #printPtr {
    display: block !important;
  }
}

.hoverable {
  display: none;
  flex-direction: column;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  padding: 10px;
  z-index: 10;
  position: absolute;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 10px;
  align-items: baseline;
}

.form-group5 {
  display: flex;
  align-items: flex-start; /* Aligns items to the top */
  gap: 20px; /* Adds spacing between elements */
}

.form-group5 > div {
  display: flex;
  flex-direction: column; /* Ensures label and textarea stack properly */
  flex: 1;
}

.form-group5 label {
  margin-bottom: 5px; /* Adds spacing between label and input field */
}


.mas-header {
  position: fixed;
  z-index: 1;
  background-color: white;
  width: calc(100% - 16%);
  margin-left: -30px;
  padding-right: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}
