*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Arial', sans-serif;
  background-color: #f7f5ed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

main{
  display: flex;
  width: 70vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main > div:first-child{
  overflow: hidden;
  width: 50%;
  padding: 4px;
}
main > div:first-child > img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

main > div:last-child{
  display: grid;
  place-items: center;
  padding:40px 60px;
  background-color: #f2efe9;
  width: 50%;
}
main > div:last-child > div{
  display: flex;
  flex-direction: column;
  gap: 24px;
}
main > div:last-child > div > header{
  display: flex;
  gap: 12px;
  justify-content: end;
}
main > div:last-child > div > header > img{
  width: 80px;
  object-fit: cover;
}

main > div:last-child > div > form{
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input_w8_label{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.input_w8_label > input{
  outline: none;
  border-radius: 10px;
  border: 1px solid gray;
  padding: 10px 20px;
}

.row{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.button-section > button{
  width: 100%;
  padding: 12px;
  background-color: #006400;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}