* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f5ed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

main {
  width: 70vw;
  max-width: 800px;
  background-color: #f2efe9;
  display: flex;
  padding: 40px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

main > div {
  width: 100%;
}

main > div:first-child {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

main > div:first-child > img {
  width: 80px;
  height: auto;
  object-fit: cover;
  object-position: center;
  margin-right: 10px;
}

main > div:last-child {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 100%;
}

h1 {
  margin-bottom: 5px;
}

main > div:last-child > div {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

main > div:last-child > div > header {
  display: flex;
  justify-content: center;
  gap: 12px;
}

main > div:last-child > div > header > img {
  width: 80px;
  object-fit: cover;
}

main > div:last-child > div > form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.input_w8_label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.input_w8_label > input {
  width: 100%;
  outline: none;
  border-radius: 8px;
  border: 1px solid gray;
  padding: 10px 20px;
  box-sizing: border-box;
}

.row {
  display: flex;
  gap: 24px; /* Adjust the gap between the fields */
  width: 100%;
  justify-content: space-between; /* Ensure both fields align next to each other */
}

.row .input_w8_label {
  flex: 1; /* Distribute space evenly between fields */
}

.row .input_w8_label select {
  width: 100%; /* Ensure the select box fills the available space */
}

.input_w8_label > input, .input_w8_label > select {
  width: 100%; /* Make sure both input and select fill the available width */
  outline: none;
  border-radius: 8px;
  border: 1px solid gray;
  padding: 10px 20px;
  box-sizing: border-box;
}

.button-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.button-section > button {
  width: 100%;
  padding: 12px;
  background-color: #006400;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  cursor: pointer;
}

/* New CSS for login prompt below the signup button */
.login-prompt {
  text-align: center;
  font-size: 0.9em;
  color: #333;
  margin-top: 10px;
}
